<section ng-controller="registerCtrl">
	<header>
		<h2> Registration </h2>
	</header>
	<form ng-submit="loginSubmit(username, userpassword)">
		<input ng-change="emailChanged(username)" ng-model="username" type="text" placeholder="Enter Username">
		<input ng-change="passwordChanged(userpassword)" ng-model="userpassword" type="Password" placeholder="Password">
		<button> Sign Up </button>
	</form>
	<span ng-show="emailErrorMsg">Email address is invalid.</span>
	<span ng-show="passwordErrorMsg">Password is invalid.</span>
	<div>
		<a ui-sref="login">Already Registered? Log In! </a>
	</div>
</section>
